*.env
public/avatars/*
!public/avatars/.gitkeep
public/images/*
!public/images/.gitkeep

/.idea/
/.vscode/

/node_modules

*.orig
*.pyc
*.swp

deno.lock
deno.lock.json

/cov_profile
lcov.info

backup.log*
